# fly.autoscaler.toml
app = "mailscout-autoscaler"
primary_region = 'bom'
kill_signal = "SIGINT"
kill_timeout = 5

[build]
  builder = "heroku/buildpacks:20"

[env]
  QUEUE_KEY = "mailscout:jobs"
  FLY_WORKER_APP = "mailscout-worker"
  MIN_WORKERS = "1"
  MAX_WORKERS = "2000"
  SCALE_UP_THRESHOLD = "2000"
  SCALE_DOWN_THRESHOLD = "200"
  INTERVAL = "20"

[[services]]
  internal_port = 8080
  protocol = "tcp"

  [[services.ports]]
    port = 8080
    handlers = ["http"]

  [services.http_checks]
    method = "GET"
    path = "/"
    interval = "30s"
    timeout = "5s"
    grace_period = "5s"
    restart_limit = 0

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
