# fly.autoscaler.toml
app = "mailscout-autoscaler"
primary_region = 'bom'
kill_signal = "SIGINT"
kill_timeout = 5

[[services]]
  internal_port = 8080
  protocol = "tcp"

  [[services.ports]]
    port = 8080
    handlers = ["http"]

  [services.http_checks]
    method = "GET"
    path = "/"
    interval = "30s"
    timeout = "5s"
    grace_period = "5s"
    restart_limit = 0

[http_service]
  internal_port = 8080
  force_https = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = "256mb"
  cpu_kind = "shared"
  cpus = 1
