# fly.frontend.toml
app = "mailscout-frontend"
primary_region = 'bom'
kill_signal = "SIGINT"
kill_timeout = 5

[[services]]
  internal_port = 5173
  protocol = "tcp"

  [[services.ports]]
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443

  # Fly static + SPA-friendly serving
  [[services.tcp_checks]]
    interval = "10s"
    timeout = "2s"
    grace_period = "5s"
    restart_limit = 0

[http_service]
  internal_port = 5173
  force_https = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = "256mb"
  cpu_kind = "shared"
  cpus = 1
