# fly.backend.toml
app = "mailscout-backend"
primary_region = 'bom'
kill_signal = "SIGINT"
kill_timeout = 5

# ---------------------------
# VOLUME (MANDATORY FOR UPLOADS)
# ---------------------------
[mounts]
  source = "uploads"
  destination = "/data"

# ---------------------------
# SERVICES
# ---------------------------
[[services]]
  internal_port = 8000
  protocol = "tcp"

  [services.concurrency]
    type = "connections"
    hard_limit = 25
    soft_limit = 20

  [[services.ports]]
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443

  [[services.tcp_checks]]
    interval = "15s"
    timeout = "2s"
    grace_period = "10s"
    restart_limit = 0

[deploy]
  release_command = "alembic upgrade head"

[http_service]
  internal_port = 8000
  force_https = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = "512mb"
  cpu_kind = "shared"
  cpus = 1
