# fly.backend.toml
app = "mailscout-backend"
primary_region = 'bom'
kill_signal = "SIGINT"
kill_timeout = 5

[build]
  builder = "heroku/buildpacks:20"

[env]
  QUEUE_KEY = "mailscout:jobs"
  UPLOAD_PATH = "/data/uploads"
  CHUNK_SIZE = "1000"

[experimental]
  auto_rollback = true

# ---------------------------
# VOLUME (MANDATORY FOR UPLOADS)
# ---------------------------
[mounts]
  source = "uploads"
  destination = "/data"

# ---------------------------
# SERVICES
# ---------------------------
[[services]]
  internal_port = 8000
  protocol = "tcp"

  [services.concurrency]
    type = "connections"
    hard_limit = 25
    soft_limit = 20

  [[services.ports]]
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443

  [[services.tcp_checks]]
    interval = "15s"
    timeout = "2s"
    grace_period = "10s"
    restart_limit = 0

[deploy]
  release_command = "alembic upgrade head"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
