name: Docker Bake Build and Push

on:
  push:
    tags:
      - "*.*.*"

jobs:
  bake:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to GHCR
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: khalith
        password: ${{ secrets.GHCR_PAT }}

    - name: Docker Bake (build & push)
      uses: docker/bake-action@v5
      with:
        files: docker-bake.hcl
        push: true
        set: |
          backend.tags=ghcr.io/khalith/mailscout-backend:${{ github.ref_name }}
          worker.tags=ghcr.io/khalith/mailscout-worker:${{ github.ref_name }}
          frontend.tags=ghcr.io/khalith/mailscout-frontend:${{ github.ref_name }}
          autoscaler.tags=ghcr.io/khalith/mailscout-autoscaler:${{ github.ref_name }}
